.footer {
  // position: sticky;
  // top: 0;
  // left: 0;
  // width: 100vw;
  padding: var(--gap);
  background-color: white;
  border-top: 1px solid;

  nav {
    display: flex;
    gap: calc(var(--gap) / 2);
    justify-content: flex-end;

    a {
      &:first-child {
        flex: 1;
      }
    }
  }
}