.article {
  position: relative;
  display: flex;
  // border-top: 1px solid;

  @media (max-width: 888px) {
    flex-wrap: wrap;
  }

  > figure {
    position: relative;
    height: calc(90vh - (var(--gap) * 2));
    width: 50%;
    margin: var(--gap);
    border-radius: 0.5em;
    overflow: hidden;

    @media (max-width: 888px) {
      width: 100%;
      height: 40vh;
    }

    img,
    canvas,
    figure {
      width: 100%;
      height: 100%;
    }
  }

  main {
    width: 50%;
    height: 90vh;
    // border-left: 1px solid;
    overflow: auto;

    display: flex;
    flex-direction: column;
    // justify-content: flex-end;

    @media (max-width: 888px) {
      width: 100%;
      border-left: none;
      height: auto;
    }
  }

  header {
    position: relative;
    flex: 1;
    min-height: 33vh;

    nav {
      display: flex;
      gap: calc(var(--base) * 0.5);
      margin-bottom: var(--base);
    }

    .back {
      position: absolute;
      top: var(--base);
      right: calc(var(--base) * 0.5);

      svg {
        line {
          transition: transform 333ms;
          transform-origin: center center;
          transform: rotate(-45deg); 

          &:last-of-type {
            transform: rotate(45deg); 
          }
        }
      }

      &:hover,
      &:focus {
        svg {
          rect {
            fill: currentColor;
          }

          line {
            stroke: white;
          }
        }
      }
    }
  }

  header,
  footer {
    padding: var(--gap);
    border-bottom: 1px solid;

    aside {
      margin-bottom: var(--gap);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--base);
    }
  }

  footer + a {
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--gap);
  }

  > nav {
    position: absolute;
    top: calc(var(--gap) * 2);
    left: calc(var(--gap) * 2);
  }

  > div {
    flex: 1;
  }

  form {
    border-left: 1px solid;
  }
}