.articles {
  ol {
    list-style: none;
    padding: var(--base);
    margin: 0;
    border-top: 1px solid;

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base) / 2);
    row-gap: calc(var(--gap) * 2);

    --width: calc(((100 / 3) * 1vw) - (var(--base) / 1.25));

    @media (max-width: 888px) {
      --width: calc(((100 / 1) * 1vw) - (var(--base) / 1.25));
    }

    li {
      width: var(--width);

      h4 {
        max-width: 310px;
      }

      figure {
        position: relative;
        width: 100%;
        height: 42vh;
        margin-bottom: 0;
        border-radius: 0.5em;
        overflow: hidden;
      }

      nav {
        display: flex;
        gap: calc(var(--base) / 2);
        align-items: center;
        margin-bottom: 0.5em;
      }
    }
  }

  &.Gallery {
    ol {
      border-top: none;
      padding: 0;
      --width: calc(((100 / 2) * 1%) - (var(--base) / 1.25));
    }
  }

  &.Grid {
    display: flex;

    > nav {
      width: 333px;
      border-right: 1px solid;
      border-top: 1px solid;

      > a {
        display: block;
        padding: var(--gap);
        border-bottom: 1px solid;

        h4 {
          // margin-top: var(--base);
        }

        > nav {
          display: flex;
          gap: calc(var(--base) / 2);
          margin-bottom: 0.5em;
        }
      }

      
    }

    ol {
      flex: 1;
      margin-top: 0;

      --width: calc(((100 / 2) * 1%) - (var(--base) / 1.25));

      figure {
        figcaption {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--grey);
          padding: var(--base);
          border-radius: 0.5em;

          display: flex;
          flex-direction: column;
          justify-content: space-between;

          display: none;
        }
      }

      a:hover,
      a:focus,
      a.current {
        figcaption {
          display: flex;
        }
      }
    }
  }
}