.article {
  position: relative;
  display: flex;
  border-top: 1px solid;

  > figure {
    position: relative;
    height: calc(90vh - (var(--gap) * 2));
    width: 50%;
    margin: var(--gap);
    border-radius: 0.5em;
    overflow: hidden;

    img,
    canvas,
    figure {
      width: 100%;
      height: 100%;
    }
  }

  main {
    width: 50%;
    height: 90vh;
    border-left: 1px solid;
    overflow: auto;

    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
  }

  header {
    flex: 1;

    nav {
      display: flex;
      gap: calc(var(--base) / 2);
      margin-bottom: var(--base);
    }
  }

  header,
  footer {
    padding: var(--gap);
    border-bottom: 1px solid;

    aside {
      margin-bottom: var(--gap);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: var(--base);
    }
  }

  footer + a {
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--gap);
  }

  > nav {
    position: absolute;
    top: calc(var(--gap) * 2);
    left: calc(var(--gap) * 2);
  }

  form {
    border-left: 1px solid;
    flex: 1;
    padding: var(--gap);
    display: flex;
    flex-direction: column;

    fieldset {
      border: none;
      background-color: var(--grey);
      padding: var(--gap);
      
      &:first-child {
        flex: 1;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }

      &:last-child {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }
    }

    button {
      width: 100%;
      background-color: white;
      border: none;
    }
  }
}