.cards {
  margin: calc(var(--gap) * 5) 0;

  ol {
    list-style: none;
    padding: 0;

    display: flex;
    flex-wrap: wrap;
    // border-top: 1px solid;
    // border-bottom: 1px solid;

    li {
      padding: 0 var(--base);
      width: 25%;
      min-height: 55vh;
      border-right: 1px solid;

      @media (max-width: 888px) {
        width: 100%;
      }

      display: flex;
      flex-direction: column;

      figure {
        position: relative;
        width: 100%;
        height: 25vw;
        border-radius: 0.5em;
        overflow: hidden;

        @media (max-width: 888px) {
          height: 45vh;
        }
      }

      h3 {
        margin-bottom: 0;
      }
      
      nav {
        display: flex;
        align-items: flex-end;
        flex: 1;
        gap: calc(var(--base) * 0.5);
        margin-top: var(--base);
      }
    }
  }
}