.footer {
  padding: calc(var(--gap) / 2);
  background-color: white;
  border-top: 1px solid;

  &.half {
    // position: absolute;
    // bottom: 0;
    // left: 0;
    margin-top: calc(var(--gap) * -2);
    width: 50vw;
    border-top: none;
  }

  nav {
    display: flex;
    gap: calc(var(--gap) / 2);
    justify-content: flex-end;

    a {
      &:first-child {
        flex: 1;
      }
    }
  }
}