.footer {
  padding: calc(var(--gap));
  background-color: white;
  border-top: 1px solid;

  display: flex;
  gap: calc(var(--gap) * 2);

  @media (max-width: 888px) {
    flex-wrap: wrap;
  }

  // &.half {
  //   // position: absolute;
  //   // bottom: 0;
  //   // left: 0;
  //   margin-top: calc(var(--gap) * -2);
  //   width: 50vw;
  //   border-top: none;

  //   @media (max-width: 888px) {
  //     margin-top: calc(var(--gap) * 0);
  //     width: 100%;
  //   }
  // }
  
  > figure {
    width: 7%;

    @media (max-width: 888px) {
      display: none;
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;

    > small {
      width: 50%;
      // margin-right: auto;

      @media (max-width: 888px) {
        width: 100%;
      }

      p {
        max-width: 470px;
      }
    }

    > figure {
      margin-top: calc(var(--gap) * 2);
      margin-bottom: 0;

      @media (min-width: 888px) {
        display: none;
      }
    }

    nav {
      display: flex;
      flex-wrap: wrap;
      align-self: start;
      justify-content: flex-end;
      width: 33%;
      // flex-direction: column;
      // gap: calc(var(--gap) * 0.1);
      // justify-content: flex-end;

      @media (max-width: 888px) {
        width: 100%;

        &:first-of-type {
          order: -2;
          margin-bottom: calc(var(--gap) * 2);
        }
      }

      a {
        width: 50%;
        // &:first-child {
        //   flex: 1;
        // }
      }

      &.caserne {
        width: 17%;
        justify-content: flex-end;

        @media (max-width: 888px) {
          width: 100%;
          order: 99;
          justify-content: flex-start;
          font-size: calc(var(--base) * 0.75);
        }

        a {
          width: auto;
        }
      }

      &:last-child {
        width: 100%;
        flex-direction: row;
      }

      > small {
        display: flex;
        flex: 1;

        @media (max-width: 888px) {
          flex-wrap: wrap;
        }
        
        a {
          width: 33%;

          @media (max-width: 888px) {
            width: 100%;
          }
        }
      }
    }
  }
}