.form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  // border-top: 1px solid;

  figure {
    position: relative;
    height: calc(60vh - (var(--gap) * 2));
    // width: 100%;
    margin: var(--gap);
    border-radius: 0.5em;
    overflow: hidden;

    img,
    canvas {
      width: 100%;
      height: 100%;
    }
  }

  main {
    width: 50%;
    height: calc(100vh - (var(--gap) * 3));
    // border-left: 1px solid;
    overflow: auto;

    display: flex;
    flex-direction: column;
    // justify-content: flex-end;

    @media (max-width: 888px) {
      width: 100%;
    }
  }

  header {
    // flex: 1;
  }

  header,
  footer {
    padding: var(--gap);
    // border-bottom: 1px solid;

    aside {
      margin-bottom: var(--gap);
    }
  }

  form {
    // border-left: 1px solid;
    flex: 1;
    padding: var(--gap);
    display: flex;
    flex-direction: column;

    fieldset {
      border: none;
      background-color: var(--grey);
      padding: var(--gap);
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--gap) / 2);
      
      &:first-child {
        flex: 1;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
      }

      &:last-child {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
      }
    }

    label {
      position: relative;
      display: block;
      width: calc(50% - (var(--gap) / 2));
      font-size: var(--base);

      span {
        font-size: var(--base);
        display: inline-block;
        padding: calc(var(--base) / 1.5);
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        color: var(--dark-grey);
      }

      &.Textarea {
        width: 100%;
        height: 50vh;
      }

      &.File {
        height: 33vh;
      }
    }

    input,
    textarea {
      font-size: var(--base);
      line-height: 1;
      padding: calc(var(--base) / 1.2) calc(var(--base) / 1.5) calc(var(--base) / 1.8);
      cursor: text;
      width: 100%;
      border: none;
      border-radius: 0.5em;
      background-color: white;

      &::placeholder {
        color: transparent;
      }

      &:not([type="file"]):not(:placeholder-shown) {
        + span {
          font-size: calc(var(--base) * 0.8);
          padding-top: 0;
        }
      }
    }

    textarea,
    input[type="file"] {
      height: 100%;
    }

    input[type="file"] {
      padding-top: calc(33vh - 2em);
    }

    button {
      width: 100%;
      background-color: white;
      border: none;
    }
  }
}