.gallery {
  margin: calc(var(--gap) * 5) 0;

  ol {
    list-style: none;
    padding: var(--base);
    border-top: 1px solid;

    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base) * 0.5);

    --width: calc(((100 / 7) * 1vw) - (var(--base) / 1.25));

    @media (max-width: 888px) {
      --width: calc(50vw - (var(--base) * 1.5));
    }

    li {
      width: var(--width);

      figure {
        position: relative;
        width: 100%;
        height: var(--width);
        margin-bottom: 0;
        border-radius: 0.5em;
        overflow: hidden;
      }
    }
  }
}