:root {
  --base: 16px;
  --gap: 20px;
  --max-width: 1920px;
  --grey: #CCC5BB;
  --dark-grey: #9F9F9F;
  --beige: #FAF0E6;
  --green: #15B672;
  --pink: #F895CA;
  --blue: #13A5AF;
  --yellow: #F7E011;
  --orange: #FF6D00;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: black;
  background: var(--beige);
  font-family: var(--antique), sans-serif;
  font-size: var(--base);
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: var(--antique), sans-serif;
  margin: 0 0 var(--base);
  white-space: pre-line;
  text-align: left;
  font-weight: 400;
  line-height: 1.05;

  &:last-child {
    margin-bottom: 0;
  }

  u {
    text-decoration: none;
    display: inline-block;
    border: 1px solid;
    padding: 0 2px;
    margin: 0 2px;
  }
}

h1, .h1 {
  font-size: calc(var(--base) * 10.625);
  line-height: 0.88;

  @media (max-width: 888px) {
    font-size: calc(var(--base) * 4.25);
    letter-spacing: -0.01em;
  }
}

h2, .h2 {
  font-size: calc(var(--base) * 4.25);
  letter-spacing: -0.01em;

  @media (max-width: 888px) {
    font-size: calc(var(--base) * 2.5);
    letter-spacing: -0.03em;
  }
}

h3, .h3 {
  font-size: calc(var(--base) * 2.5);
  letter-spacing: -0.03em;

  @media (max-width: 888px) {
    font-size: calc(var(--base) * 1.5625);
    letter-spacing: -0.01em;
  }
}

h4, .h4 {
  font-size: calc(var(--base) * 1.5625);
  letter-spacing: -0.01em;

  // @media (max-width: 888px) {
  //   font-size: var(--base);
  //   letter-spacing: -0.02em;
  // }
}

h5, .h5 {
  font-size: calc(var(--base) * 1.25);
  letter-spacing: -0.01em;

  // @media (max-width: 888px) {
  //   font-size: var(--base);
  //   letter-spacing: -0.02em;
  // }
}

p {
  &:empty {
    display: none;
  }
}

hr {
  border: none;
  height: 1px;
  background-color: currentColor;
}

small {
  font-size: calc(var(--base) * 0.75);
}

a {
  color: inherit;
  text-decoration: none;
}

[id] {
	scroll-margin-top:  calc(var(--base) * 4);
}

button,
.button {
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  color: currentColor;
  line-height: 1;
  padding: calc(var(--gap) / 5) calc(var(--gap) / 3);
  border: 1px solid;
  border-radius: 0.5em;

  &.button--flat {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    color: white;
    background-color: black;
  }

  &[disabled] {
    pointer-events: none;
    color: var(--dark-grey);
  }
}

details {
	
	summary {
		cursor: pointer;
    display: flex;
    justify-content: space-between;

		&::-webkit-details-marker {
			display: none;
			content: "";
		}

		&::marker {
			display: none;
			content: "";
		}
	}
}

time {
  display: inline-block;
  line-height: 1;
  padding: calc(var(--base) * 0.5);
  background-color: var(--grey);
  border-radius: 0.5em;
}

figure {
  margin: 0 0 var(--gap);
}

canvas {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

ul, ol {
  padding-left: 1.5em;
  li {
    p {
      margin-bottom: 0;
    }
  }
}

ul {
  list-style: circle;
}

table {
  width: 100%;
  margin: 0 0 var(--gap);
  border-collapse: collapse;

  tr {
    border-top: 1px solid;
  }

  th {
    text-align: left;
    font-weight: normal;
    padding: calc(var(--base) * 0.5) var(--gap);
  }

  td {
    padding: calc(var(--base) * 0.5) var(--gap);
    width: var(--width);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    // color-scheme: dark;
  }

  body {
    // color: white;
    // background: black;
  }
}
