:root {
  --base: 16px;
  --gap: 20px;
  --max-width: 1920px;
  --grey: #D2D2D2;
  --green: #15B64C;
  --pink: #F895D4;
  --blue: #3FAEDF;
  --yellow: #F5F500;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

body {
  color: black;
  background: white;
  font-family: "Antique Legacy", sans-serif;
  font-size: var(--base);
  line-height: 1.1;
  letter-spacing: -0.02em;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0 0 var(--base);
  white-space: pre-line;
  text-align: left;
  font-weight: 400;
}

h1, .h1 {
  font-size: calc(var(--base) * 10.625);
  // font-size: 170px;
  // line-height: 140px;
}

h2, .h2 {
  font-size: calc(var(--base) * 4.25);
  // font-size: 68px;
  // line-height: 72px;
  letter-spacing: -0.01em;
}

h3, .h3 {
  font-size: calc(var(--base) * 2.5);
  // font-size: 40px;
  // line-height: 43px;
}

h4, .h4 {
  font-size: calc(var(--base) * 1.5625);
  // font-size: 25px;
  // line-height: 30px;
  letter-spacing: -0.01em;
}

p {
}

small {
  font-size: calc(var(--base) * 0.75);
  // font-size: 12px;
  // line-height: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
.button {
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: 1;
  padding: calc(var(--base) * 0.5);
  border: 1px solid;
  border-radius: 0.5em;
}

time {
  display: inline-block;
  line-height: 1;
  padding: calc(var(--base) * 0.5);
  background-color: var(--grey);
  border-radius: 0.5em;
}

figure {
  margin: 0 0 var(--gap);
}

ul, ol {
  li {
    p {
      margin-bottom: 0;
    }
  }
}

table {
  width: 100%;
  margin: 0 0 var(--gap);

  th {
    text-align: left;
    font-weight: normal;
    padding: calc(var(--base) / 2) var(--gap);
  }

  td {
    border-top: 1px solid;
    padding: calc(var(--base) / 2) var(--gap);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    // color-scheme: dark;
  }

  body {
    // color: white;
    // background: black;
  }
}
