.jobs {
  position: relative;
  min-height: 100vh;

  > table {
    margin: 0;

    > tbody > tr {
      cursor: pointer;
    }
  }

  aside {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(0%, -50%);
    width: 333px;
    background-color: var(--grey);
    padding: var(--base);
    border-radius: 1em;
    pointer-events: none;

    h3 {
      margin-bottom: calc(var(--gap) * 1.5);
    }

    time {
      background-color: white;
      margin-bottom: var(--gap);
    }

    table {
      margin-bottom: 0;

      td {
        padding-left: 0;
      }
    }
  }

  &.full {
    display: flex;
    flex-direction: column;
    min-height: auto;
    height: 100%;
    // margin: calc(var(--gap) * -1)

    td {
      border: none;
    }

    tr {
      border-top: 0;
      border-bottom: 1px solid;
    }

    aside {
      pointer-events: auto;
      position: static;
      display: flex;
      width: auto;
      margin: calc(var(--gap) / 2) calc(var(--gap) / 2) 0;
      transform: none;
      height: 100%;

      a {
        display: flex;
        flex-direction: column;

        nav {
          flex: 1;
        }
      }
    }
  }
}