.member {
  position: relative;
  display: flex;
  border-top: 1px solid;

  figure {
    height: calc(90vh - (var(--gap) * 2));
    width: 50%;
    margin: var(--gap);

    border-radius: 1em;
  }

  main {
    width: 50%;
    height: 90vh;
    border-left: 1px solid;
    overflow: auto;

    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
  }

  header {
    flex: 1;
  }

  header,
  footer {
    padding: var(--gap);
    border-bottom: 1px solid;
  }

  footer + a {
    display: block;
    width: 100%;
    text-align: center;
    padding: var(--gap);
  }

  nav {
    position: absolute;
    top: calc(var(--gap) * 2);
    left: calc(var(--gap) * 2);
  }
}