.pages {
  // display: flex;
  // flex-direction: column;
  position: relative;
  min-height: 80vh;

  > a {
    display: block;
    width: 50%;
    padding: calc(var(--gap) / 3) calc(var(--gap) / 2);
    border-top: 1px solid;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 888px) {
      width: 100%;
      background-color: white;

      position: sticky;
      top: calc((var(--gap) * 3) + (3 * var(--gap) * var(--index)));
      z-index: 2;
      padding: calc(var(--gap) / 2) calc(var(--gap) / 1.5);
    }

    h2 {
      margin-bottom: 0;
    }

    svg {
      visibility: hidden;
    }

    &:hover,
    &:focus,
    &.current {
      svg {
        visibility: visible;
      }

      & + aside {
        pointer-events:all;
        figure {
          display: block;
        }
      }
    }
  }

  > aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: calc(var(--gap) / 2);
    border-top: 1px solid;
    border-left: 1px solid;
    pointer-events: none;

    @media (max-width: 888px) {
      position: sticky;
      top: calc((var(--gap) * 5.5) + (2.5 * var(--gap) * var(--index)));

      width: 100%;
      height: calc(80vh - (2.5 * var(--gap) * var(--index)));
      padding: var(--gap) calc(var(--gap) / 1.5);
      pointer-events: all;
      border: none;
      padding-top: 0;
      background-color: white;
    }

    figure {
      position: relative;
      margin: 0;
      width: 100%;
      height: 100%;
      border-radius: 0.5em;
      overflow: hidden;
      display: none;

      &.full {
        margin: calc(var(--gap) / -2) calc(var(--gap) / -2);
        width: calc(100% + (var(--gap)));
        height: calc(100% + (var(--gap) / 2));
        overflow: visible;
      }

      @media (max-width: 888px) {
        display: block;
      }
    }

    &:hover,
    &:focus,
    &.current {
      pointer-events:all;
      figure {
        display: block;
      }
    }
  }
}