.slider {
  position: relative;
  overflow: hidden;

  --w: 100%;

  > ol {
    display: flex;
    flex-wrap: nowrap !important;
    transition: height 333ms;

    > li {
      flex: 0 0 var(--w);
      min-width: 0;
    }
  }

  > nav {
    position: absolute;
    bottom: calc(var(--base) * 0.5);
    left: calc(var(--base) * 0.5);

    display: flex;
    gap: calc(var(--base) * 0.5);

    button {
      color: white;
      background-color: transparent;
      width: calc(var(--base) * 6);

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}