.team {
  position: relative;

  ul {
    // position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--grey);
    min-height: 80vh;
    overflow: auto;

    margin: var(--gap);
    border-radius: 1em;

    @media (max-width: 888px) {
      min-height: 85vh;
      padding-bottom: calc(var(--gap) * 2);
      margin: calc(var(--gap) / 1.5);
    }
    
    a {
      figure {
        min-height: 50vh;
        filter: grayscale(1);

        @media (max-width: 888px) {
          height: 50vh;
        }

        img {
          height: 100%;
          object-fit: contain !important;
        }
      }

      figcaption {
        display: none;
        position: absolute;
        bottom: var(--base);
        left: calc(var(--base) + var(--gap));
        // width: 100%;
        // text-align: center;

        @media (max-width: 888px) {
          left: calc(var(--gap));
          bottom: calc(var(--gap) * 3);
        }
      }

      &:hover,
      &:focus,
      &.active {
        figure {
          filter: grayscale(0);
        }
      }

      &:hover,
      &:focus {
        figcaption {
          display: block;
        }
      }
    }
  }

  nav {
    position: absolute;
    z-index: 2;
    bottom: var(--gap);
    right: calc(var(--gap) * 2);

    display: flex;
    gap: calc(var(--base) * 0.5);

    @media (max-width: 888px) {
      left: calc(var(--gap));
      bottom: calc(var(--gap) * 0.5);
    }

    a {
      background-color: white;
      border: none;
    }
  }
}