.team {
  position: relative;

  ul {
    // position: relative;
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--grey);
    min-height: 80vh;
    overflow: auto;

    margin: var(--gap);
    border-radius: 1em;
    
    a {
      figure {
        min-height: 50vh;
        filter: grayscale(1);

        // canvas {
        //   height: 100%;
        // }
      }

      figcaption {
        display: none;
        position: absolute;
        bottom: var(--base);
        left: calc(var(--base) + var(--gap));
        // width: 100%;
        // text-align: center;
      }

      &:hover,
      &:focus,
      &.active {
        figure {
          filter: grayscale(0);
        }
      }

      &:hover,
      &:focus {
        figcaption {
          display: block;
        }
      }
    }
  }

  nav {
    position: absolute;
    z-index: 2;
    bottom: var(--gap);
    right: calc(var(--gap) * 2);

    display: flex;
    gap: calc(var(--base) / 2);

    a {
      background-color: white;
      border: none;
    }
  }
}