.text {
  padding: var(--gap);

  figure {
    img {
      width: 100%;
      height: 100%;
      border-radius: 1em;
    }
  }

  header {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    nav {
      display: flex;
      gap: var(--base);
    }

    margin-bottom: var(--base);
  }

  &.Hero {
    min-height: 50vh;
  }
  
  &.Columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    border-top: 1px solid;
    padding-top: var(--base);

    figure,
    header,
    main {
      width: 50%;

      @media (max-width: 888px) {
        width: 100%;
      }
    }

    header {
      max-width: 666px;
    }
  }
}